/*SE CARGAN FUENTES PERSONALIZADAS 
*/@font-face {	font-family: 'Humanst521BT';
                 src: url('fonts/humanist521bt.eot');	
                 src: local(''),  url('fonts/humanist521bt.ttf') format('truetype'), 	 
                 url('fonts/humanist521bt.woff') format('woff'), 				
                  url('fonts/humanist521bt.svg') format('svg');	
                  font-weight: normal;	font-style: normal;}

body {	font-family: Humanst521BT;	text-align: center; overflow-x: hidden; width: 100%; margin: 0px;}
#head{ width: 100%; height: 104px; }
#foot {width: 100%; float: left; font-size: 15px;	background-color: #dddddd;	font-family: Humanst521BT; }

#contenedor1foot {margin-left: 25px; 	font-family: Humanst521BT;	width: 23%; 	float: left; 	text-align: justify; margin-right: 20px; color: #5b5a5a; 	/*color: #E9E9E9;*/}
#contenedor2foot { padding-top: 20px; padding-bottom: 20px;	font-family: Humanst521BT;	width: 23%;	float: left; 	text-align: justify;	 color: #5b5a5a;	over-flow: hidden;}
#contenedor2foot p {font-size: 24px; font-family: Humanst521BT;	color: #FF8D23;}
#contenedor3foot { padding-top: 20px; width: 23%;	float: left; 	margin-right: 15px;	margin-left: 15px;}
#contenedor3foot p { font-size: 24px;	color: #FF8D23;}
#contenedor4foot { padding-top: 20px;	font-family: Humanst521BT;	text-align: left;	width: 24%;	float: left; 	color: #5b5a5a;}
#contenedor4foot p { font-family: Humanst521BT;	font-size: 24px;	color: #FF8D23;}
#contenedor5foot {	float: left;	width: 100%;	background-color: #333333;	font-family: Humanst521BT;	color: #E9E9E9;}
#foot img {	width: 100%;}
#foot #logofoot { margin: 0 auto;	width: 42%; margin-top: 0px;}

/*divs de servicios */
#marca_servicios {margin-top: -75px;  position:absolute; left:10%; top:80%; z-index: 500;}
#servicios { text-align: center; color: #FF8D23; margin-top: -75px;}
#servicios #contenedor0servicio {color: #0231CD; float: left; width: 100%;  margin-top: 3%;  margin-bottom: 5%; font-size: 24px; font-weight:bold;;}

#servicios #contenedor1servicio {float: left; width: 23%;   margin-left: 2%; height: 260px;  overflow: hidden; background-color: #cccccc;}
#servicios #contenedor2servicio {float: left; width: 23%;   margin-left: 1%; height: 260px;  overflow: hidden; background-color: #cccccc;}
#servicios #contenedor3servicio {float: left; width: 23%;   margin-left: 1%; height: 260px;  overflow: hidden; background-color: #cccccc;}
#servicios #contenedor4servicio {float: left; width: 23%;   margin-left: 1%; height: 260px;  overflow: hidden; background-color: #cccccc;}

#servicios #contenedor5servicio {float: left; width: 23%;   margin-left: 2%; margin-top: 20px;  height: 260px; background-color: #cccccc; overflow: hidden;}
#servicios #contenedor6servicio {float: left; width: 23%;   margin-left: 1%; margin-top: 20px;  height: 260px; background-color: #cccccc; overflow: hidden;}
#servicios #contenedor7servicio {float: left; width: 23%;   margin-left: 1%; margin-top: 20px;  height: 260px; background-color: #cccccc; overflow: hidden;}
#servicios #contenedor8servicio {float: left; width: 23%;   margin-left: 1%; margin-top: 20px;  height: 260px; background-color: #cccccc; overflow: hidden;}

/*divs para subtitulos de cada caja*/
#servicios #tituloservicio1 {padding-top: 5px; padding-bottom: 5px; font-size: 20px; float: left; width: 23%;   margin-left: 2%; }
#servicios #tituloservicio2 {padding-top: 5px; padding-bottom: 5px; font-size: 20px; float: left; width: 23%;   margin-left: 1%; }
#servicios #tituloservicio3 {padding-top: 5px; padding-bottom: 5px; font-size: 20px; float: left; width: 23%;   margin-left: 1%; }
#servicios #tituloservicio4 {padding-top: 5px; padding-bottom: 5px; font-size: 20px; float: left; width: 23%;   margin-left: 1%; }

#servicios #tituloservicio5 {padding-top: 5px; padding-bottom: 5px; font-size: 20px; float: left; width: 23%;   margin-left: 2%; }
#servicios #tituloservicio6 {padding-top: 5px; padding-bottom: 5px; font-size: 20px; float: left; width: 23%;   margin-left: 1%; }
#servicios #tituloservicio7 {padding-top: 5px; padding-bottom: 5px; font-size: 20px; float: left; width: 23%;   margin-left: 1%; margin-bottom: 40px; }
#servicios #tituloservicio8 {padding-top: 5px; padding-bottom: 5px; font-size: 20px; float: left; width: 23%;   margin-left: 1%; margin-bottom: 40px; }

#servicios .sombratitulo1    {z-index: 1; margin-left: 3px; margin-top: 0px; float: left; width: 98%; height: 0px; box-shadow: 0px 0px 1px 1px #3C7621; -webkit-box-shadow: 0px 0px 1px 1px #3C7621; -moz-box-shadow: 0px 0px 1px 1px #3C7621;}
#servicios .sombratitulo2    {z-index: 1; margin-left: 3px; margin-top: 0px; float: left; width: 98%; height: 0px; box-shadow: 0px 0px 1px 1px #46901F; -webkit-box-shadow: 0px 0px 1px 1px #46901F; -moz-box-shadow: 0px 0px 1px 1px #46901F;}
#servicios .sombratitulo3    {z-index: 1; margin-left: 3px; margin-top: 0px; float: left; width: 98%; height: 0px; box-shadow: 0px 0px 1px 1px #55A625; -webkit-box-shadow: 0px 0px 1px 1px #55A625; -moz-box-shadow: 0px 0px 1px 1px #55A625;}
#servicios .sombratitulo4    {z-index: 1; margin-left: 3px; margin-top: 0px; float: left; width: 98%; height: 0px; box-shadow: 0px 0px 1px 1px #8AC068; -webkit-box-shadow: 0px 0px 1px 1px #8AC068; -moz-box-shadow: 0px 0px 1px 1px #8AC068;}
#servicios .sombratitulo5    {z-index: 1; margin-left: 3px; margin-top: 0px; float: left; width: 98%; height: 0px; box-shadow: 0px 0px 1px 1px #3C7621; -webkit-box-shadow: 0px 0px 1px 1px #3C7621; -moz-box-shadow: 0px 0px 1px 1px #3C7621;}
#servicios .sombratitulo6    {z-index: 1; margin-left: 3px; margin-top: 0px; float: left; width: 98%; height: 0px; box-shadow: 0px 0px 1px 1px #46901F; -webkit-box-shadow: 0px 0px 1px 1px #46901F; -moz-box-shadow: 0px 0px 1px 1px #46901F;}
#servicios .sombratitulo7    {z-index: 1; margin-left: 3px; margin-top: 0px; float: left; width: 98%; height: 0px; box-shadow: 0px 0px 1px 1px #55A625; -webkit-box-shadow: 0px 0px 1px 1px #55A625; -moz-box-shadow: 0px 0px 1px 1px #55A625;}
#servicios .sombratitulo8    {z-index: 1; margin-left: 3px; margin-top: 0px; float: left; width: 98%; height: 0px; box-shadow: 0px 0px 1px 1px #8AC068; -webkit-box-shadow: 0px 0px 1px 1px #8AC068; -moz-box-shadow: 0px 0px 1px 1px #8AC068;}


#servicios .lineaservicios1 {margin-left: 3px; margin-top: -2px; float: left; width: 98%; height: 0px; box-shadow: 0px 0px 5px 2px #3C7621; -webkit-box-shadow: 0px 0px 5px 2px #3C7621; -moz-box-shadow: 0px 0px 5px 2px #3C7621;}
#servicios .lineaservicios2 {margin-left: 3px; margin-top: -2px; float: left; width: 98%; height: 0px; box-shadow: 0px 0px 5px 2px #46901F; -webkit-box-shadow: 0px 0px 5px 2px #46901F; -moz-box-shadow: 0px 0px 5px 2px #46901F;}
#servicios .lineaservicios3 {margin-left: 3px; margin-top: -2px; float: left; width: 98%; height: 0px; box-shadow: 0px 0px 5px 2px #55A625; -webkit-box-shadow: 0px 0px 5px 2px #55A625; -moz-box-shadow: 0px 0px 5px 2px #55A625;}
#servicios .lineaservicios4 {margin-left: 3px; margin-top: -2px; float: left; width: 98%; height: 0px; box-shadow: 0px 0px 5px 2px #8AC068; -webkit-box-shadow: 0px 0px 5px 2px #8AC068; -moz-box-shadow: 0px 0px 5px 2px #8AC068;}
#servicios .lineaservicios5 {margin-left: 3px; margin-top: -2px; float: left; width: 98%; height: 0px; box-shadow: 0px 0px 5px 2px #3C7621; -webkit-box-shadow: 0px 0px 5px 2px #3C7621; -moz-box-shadow: 0px 0px 5px 2px #3C7621;}
#servicios .lineaservicios6 {margin-left: 3px; margin-top: -2px; float: left; width: 98%; height: 0px; box-shadow: 0px 0px 5px 2px #46901F; -webkit-box-shadow: 0px 0px 5px 2px #46901F; -moz-box-shadow: 0px 0px 5px 2px #46901F;}
#servicios .lineaservicios7 {margin-left: 3px; margin-top: -2px; float: left; width: 98%; height: 0px; box-shadow: 0px 0px 5px 2px #55A625; -webkit-box-shadow: 0px 0px 5px 2px #55A625; -moz-box-shadow: 0px 0px 5px 2px #55A625;}
#servicios .lineaservicios8 {margin-left: 3px; margin-top: -2px; float: left; width: 98%; height: 0px; box-shadow: 0px 0px 5px 2px #8AC068; -webkit-box-shadow: 0px 0px 5px 2px #8AC068; -moz-box-shadow: 0px 0px 5px 2px #8AC068;}


/*PRUEBA ANIMACION*/
@-moz-keyframes mensajebanner {
    0%  {opacity: 0;   }
    15% {opacity: 1; }
    95% {opacity: 0.5;   }
    100% {opacity: 0;  }
}

@-webkit-keyframes mensajebanner {
    0%  {opacity: 0;   }
    15% {opacity: 1; }
   	95% {opacity: 0.5;   }
    100% {opacity: 0;  }
}

@keyframes mensajebanner {
    0%  {opacity: 0;   }
    15% {opacity: 1; }
    95% {opacity: 0.5;   }
    100% {opacity: 0;  }
}

.animacion {
	-moz-animation: mensajebanner 5s infinite linear;
    -o-animation: mensajebanner 5s infinite linear;
    -webkit-animation: mensajebanner 5s infinite linear;
    animation: mensajebanner 5s infinite linear;
}

#contenedor_central   {	float:left; width: 100%; overflow: auto; margin: 2px; }
/*ESTILOS PARA EL MENU*/
#menu a { /*color: #FF8D00;*/ color: #0231CD; font-family: Humanst521BT, Arial;	font-size: 22px;	cursor: hand;  	cursor: pointer; text-decoration:none; }
#menu   {over-flow: hidden; background-color: white; height: 104px; display: block; float: left; font-size: 22px; width: 100%; text-align: right;  position: fixed; z-index:200;}
#texto_menu {padding-top: 55px;}

.sombratopmenu  {float: left; width: 100%; height: 0px; box-shadow: 0px 0px 10px 2px #999; -webkit-box-shadow: 0px 0px 10px 2px #999; -moz-box-shadow: 0px 0px 10px 2px #999;}
.sombrafootmenu {margin-top: 20px; background-color: red; float: left; width: 100%; height: 0px; box-shadow: 0px 0px 10px 2px #999; -webkit-box-shadow: 0px 0px 10px 2px #999; -moz-box-shadow: 0px 0px 10px 2px #999;}

#servicio1slides1 	  {margin: 0 auto; padding-button:0px; display:none;  height: 100%; width: 100%;  opacity: 0; filter: alpha(opacity=0); }
#servicio1slides2 	  { margin: 0 auto; padding-button:0px; display:block; height: 100%; width: 100%;  opacity: 1; filter: alpha(opacity=100); }
#servicio1slides2 img {width: 100%; }
#servicio1slides1 img {width: 100%; }
#contenedor1servicio:hover #servicio1slides1 { opacity: 1; display: block; filter: alpha(opacity=100); }
#contenedor1servicio:hover #servicio1slides2 { opacity: 0; display: none;  filter: alpha(opacity=0); }

#servicio2slides1 	  {margin: 0 auto; padding-button:0px; display:none;  height: 100%; width: 100%;  opacity: 0; filter: alpha(opacity=0); }
#servicio2slides2 	  { margin: 0 auto; padding-button:0px; display:block; height: 100%; width: 100%;  opacity: 1; filter: alpha(opacity=100); }
#servicio2slides2 img {width: 100%; }
#servicio2slides1 img {width: 100%; }
#contenedor2servicio:hover #servicio2slides1 { opacity: 1; display: block; filter: alpha(opacity=100); }
#contenedor2servicio:hover #servicio2slides2 { opacity: 0; display: none;  filter: alpha(opacity=0); }

#servicio3slides1 	  {margin: 0 auto; padding-button:0px; display:none;  height: 100%; width: 100%;  opacity: 0; filter: alpha(opacity=0); }
#servicio3slides2 	  { margin: 0 auto; padding-button:0px; display:block; height: 100%; width: 100%;  opacity: 1; filter: alpha(opacity=100); }
#servicio3slides2 img {width: 100%; }
#servicio3slides1 img {width: 100%; }
#contenedor3servicio:hover #servicio3slides1 { opacity: 1; display: block; filter: alpha(opacity=100); }
#contenedor3servicio:hover #servicio3slides2 { opacity: 0; display: none;  filter: alpha(opacity=0); }

#servicio3slides1 	  {margin: 0 auto; padding-button:0px; display:none;  height: 100%; width: 100%;  opacity: 0; filter: alpha(opacity=0); }
#servicio3slides2 	  { margin: 0 auto; padding-button:0px; display:block; height: 100%; width: 100%;  opacity: 1; filter: alpha(opacity=100); }
#servicio3slides2 img {width: 100%; }
#servicio3slides1 img {width: 100%; }
#contenedor3servicio:hover #servicio3slides1 { opacity: 1; display: block; filter: alpha(opacity=100); }
#contenedor3servicio:hover #servicio3slides2 { opacity: 0; display: none;  filter: alpha(opacity=0); }

#servicio4slides1 	  {margin: 0 auto; padding-button:0px; display:none;  height: 100%; width: 100%;  opacity: 0; filter: alpha(opacity=0); }
#servicio4slides2 	  { margin: 0 auto; padding-button:0px; display:block; height: 100%; width: 100%;  opacity: 1; filter: alpha(opacity=100); }
#servicio4slides2 img {width: 100%; }
#servicio4slides1 img {width: 100%; }
#contenedor4servicio:hover #servicio4slides1 { opacity: 1; display: block; filter: alpha(opacity=100); }
#contenedor4servicio:hover #servicio4slides2 { opacity: 0; display: none;  filter: alpha(opacity=0); }

#servicio5slides1 	  {margin: 0 auto; padding-button:0px; display:none;  height: 100%; width: 100%;  opacity: 0; filter: alpha(opacity=0); }
#servicio5slides2 	  { margin: 0 auto; padding-button:0px; display:block; height: 100%; width: 100%;  opacity: 1; filter: alpha(opacity=100); }
#servicio5slides2 img {width: 100%; }
#servicio5slides1 img {width: 100%; }
#contenedor5servicio:hover #servicio5slides1 { opacity: 1; display: block; filter: alpha(opacity=100); }
#contenedor5servicio:hover #servicio5slides2 { opacity: 0; display: none;  filter: alpha(opacity=0); }

#servicio6slides1 	  {margin: 0 auto; padding-button:0px; display:none;  height: 100%; width: 100%;  opacity: 0; filter: alpha(opacity=0); }
#servicio6slides2 	  { margin: 0 auto; padding-button:0px; display:block; height: 100%; width: 100%;  opacity: 1; filter: alpha(opacity=100); }
#servicio6slides2 img {width: 100%; }
#servicio6slides1 img {width: 100%; }
#contenedor6servicio:hover #servicio6slides1 { opacity: 1; display: block; filter: alpha(opacity=100); }
#contenedor6servicio:hover #servicio6slides2 { opacity: 0; display: none;  filter: alpha(opacity=0); }

#servicio7slides1 	  {margin: 0 auto; padding-button:0px; display:none;  height: 100%; width: 100%;  opacity: 0; filter: alpha(opacity=0); }
#servicio7slides2 	  { margin: 0 auto; padding-button:0px; display:block; height: 100%; width: 100%;  opacity: 1; filter: alpha(opacity=100); }
#servicio7slides2 img {width: 100%; }
#servicio7slides1 img {width: 100%; }
#contenedor7servicio:hover #servicio7slides1 { opacity: 1; display: block; filter: alpha(opacity=100); }
#contenedor7servicio:hover #servicio7slides2 { opacity: 0; display: none;  filter: alpha(opacity=0); }

#servicio8slides1 	  {margin: 0 auto; padding-button:0px; display:none;  height: 100%; width: 100%;  opacity: 0; filter: alpha(opacity=0); }
#servicio8slides2 	  { margin: 0 auto; padding-button:0px; display:block; height: 100%; width: 100%;  opacity: 1; filter: alpha(opacity=100); }
#servicio8slides2 img {width: 100%; }
#servicio8slides1 img {width: 100%; }
#contenedor8servicio:hover #servicio8slides1 { opacity: 1; display: block; filter: alpha(opacity=100); }
#contenedor8servicio:hover #servicio8slides2 { opacity: 0; display: none;  filter: alpha(opacity=0); }
.mensajeservicio3 {background-color: #6c6868; -webkit-border-radius: 5px 5px; -moz-border-radius: 5px 5px; padding: 5px; position:absolute; left:5%; top:40%; z-index: 100; color: white; font-size: 16px; width: 270px; text-align: center; }


#banner     { width: 100%; height: 450px; overflow: hidden; }
#banner img { width: 100%; }
#map {	margin: auto;	height:340px;	width:600px;}
#mapfoot {	margin: auto;	height:180px;	width:100%;}
#logo {float: left; height: 173px; position: absolute; z-index:50; margin-top: 5px; margin-left: 6%;}


.slidesjs-container {	height: 450px; }
.slidesjs-control   {	height: 450px; }

#slides {margin: 0 auto; padding-button:0px; display:none; width: 100%; opacity: 1; filter: alpha(opacity=100); overflow: hidden;}
#slides img { width: 100%; }

.mensajebanner1 {text-align: justify; width: 350px; height: 100px; opacity: 0.6; filter: alpha(opacity=60); -webkit-border-radius: 5px 5px; -moz-border-radius: 5px 5px; padding: 20px; position:absolute; left:62%; top:30%; z-index: 100; color: white; font-size: 20px; background-color: #6c6868; }

.slidesjs-pagination      { float: right; list-style: none; position:absolute; left:45%; top:75%; z-index: 49; }
.slidesjs-pagination li   { float: left; margin: 0 1px; }
.slidesjs-pagination li a { display: block; width: 13px; height: 0; padding-top: 13px; background-image: url(../imagenes/pagination.png); background-position: 0 0; float: left;  overflow: hidden; }
.slidesjs-pagination li a.active,
.slidesjs-pagination li a:hover.active { background-position: 0 -13px }
.slidesjs-pagination li a:hover        { background-position: 0 -26px }

/*.icon-arrow-left  {}*/
/*.icon-arrow-right {}*/

.slidesjs-previous { background-image: url(../imagenes/previous.png); background-repeat:no-repeat;  width: 40px; height: 40px; position: absolute; top: 42%; left: 2%; z-index: 100;}
.slidesjs-next     { background-image: url(../imagenes/next.png);     background-repeat:no-repeat;  width: 40px; height: 40px; position: absolute; top: 42%; left: 94%; z-index: 100;}
.slidesjs-previous:hover { background-position: 0 -40px }
.slidesjs-next:hover     { background-position: 0 -40px }


/*ESTILO PARA CADA CAJA COMPLETA DE CADA PRODUCTO*/
.view_principal {	width: 100%;	padding-right: 5px;	padding-top: 5px;	/*	border-style: solid;	border-color: #CEC541;	*/}
/*ESTILO PARA EL SABOR DEL PRODUCTO DE CADA CAJA*/
.sabor {	display: inline-block;	color: white;	/*border-bottom-width: 0px;*/}
/*ESTILOS PARA MASCARA*/
.view {	border-top-width: 0px;	border-style: solid;	border-color: #C49E0D;    width: 100%;    /*height: 200px;*/    margin: 0px;    float: left;    /*border: 10px solid #fff;*/    overflow: hidden;    position: relative;    text-align: center;    /*box-shadow: 5px 5px 5px 5px #e6e6e6;*/    cursor: default;    /*    padding-right: 3px;    padding-left: 2px;    */}
.view_titulo {	border-bottom-width: 0px;	border-style: solid;	border-color: #C49E0D;	width: 100%;	height: 100%;	color: #ffffff;    text-align: center;    position: relative;    font-size: 17px;    padding: 0px;    margin: 0px 0px 0px 0px;    /*font-weight:bold;*/    /*font-style:italic;*/    background-color: #333333;}

.view .mask, .view .conent {    /*width: 300px;*/    width: 100%;    height: 100%;    position: absolute;    overflow: hidden;    top: 0;    left: 0;}
.view img {    display: block;    position: relative;    /*width: 300px;*/    width: 100%;    height: 100%;}
/*ESTILO PAR A LOS ICONOS*/
.view .icono_agregar_principal{	/*background-color: red;*/	display: block;    position: absolute;	top:  87%;   	left: 90%;  	cursor: hand;  	cursor: pointer;   	/*z-index:8;*/}
.view .icono_agregar_principal img {    display: block;    position: relative;    width: 20px;    height: 20px;    cursor: hand; }
.view .icono_eliminar_principal{	/*background-color: red;*/	/*display: block;*/    position: absolute;	top:  87%;   	left: 90%;  	cursor: hand;  	cursor: pointer; }
.view .icono_eliminar_principal img {    /*display: block;*/    position: relative;     width: 20px;    height: 20px;}.view .icono_eliminar_principal {    visibility: hidden;}

/*FIN DE ESTILOS ICONOS BOTON*//*ESTILOS PARA EL CHECK*/
.view .check  {	/*display: block;*/	/*background-color: red;*/	position: absolute; 	top:  81%;   	left: 85%;	width: 20px;    height: 20px;    visibility: hidden;}
.view .check img  {	width: 30px;    height: 30px;}
.view:hover .check {     opacity: 0;}
/*FIN DE ESTILOS PARA CHECK*/
/*.view h2 {    color: #71422B;    text-align: center;    position: relative;    font-size: 17px;    padding: 0px;    margin: 0px 0px 0px 0px;    font-weight:bold;    font-style:italic;}*/
.view p {    /*font-family: Georgia, serif;*/    font-family: Humanst521BT;    /*font-style: italic;*/    font-size: 13px;    position: relative;    color: #fff;    padding: 10px 0px 0px 0px;    text-align: center;}

/*ESTILO ESPECIFICO PARA EFECTO MASCARA*/
.view img {    transition: all 0.2s linear;}
.view .mask {    opacity: 0;    background-color: hsla(0, 1%, 65%, 0.8);    transition: all 0.4s ease-in-out;}
/*.view h2 {    opacity: 0;    transform: translateY(-100px);    transition: all 0.2s ease-in-out;}*/
.view p {     opacity: 0;    transform: translateY(100px);    transition: all 0.2s linear;}

/*EFECTIVO OVER*/
.view:hover img {     transform: scale(1.1);} .view:hover .mask {     opacity: 1;}
.viwe:hover h2,.view:hover p {    opacity: 1;    transform: translateY(0px);}
.view:hover p {    transition-delay: 0.1s;}
.view:hover a.info {    transition-delay: 0.2s;}
/*FIN DE EFECTO OVER*/


/*ESTILO PARA BOTON DE TABLA */
.tabla .modo1 img {	width: 20px;    height: 20px;    cursor: hand;  	cursor: pointer; }
/*FIN DE ESTILO PARA BOTON DE TABLA*/

.tabla .modo1 td {	padding: 5px;	border-width: 0px;	/*	border-style: solid;	border-color: #2E2D2D;	*/	text-align: left;	vertical-align:middle;}
.tabla .modo1:hover td {	background-color: #B7B6B7;}
.tabla .modo2 input {	width: 32px;	height: 30px;}
.tabla .modo3 input {	width: 80px; }
/*FIN DE ESTILO PARA TABLA DE CARRITO DE COMPRAS*/

.boton {  color: #fff;  background-color: #6C000A;  border-color: #000000;  text-transform: uppercase;  -webkit-border-radius: 5px 10px;  /* Safari  */  -moz-border-radius: 5px 10px;   margin: 2px;  border-width: 1px;  border-style: solid;  border-color: #2E2D2D;  height: 30px;}
.boton:hover {	background-color: #514F4E;}